@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primay-color :#00202e;
    --secondary-color: #004343;
    --gray : #5e606c;
    --bg-primary : #b8cdab;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
}
h1,h2 {
      font-family: "Saira", sans-serif;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* header start */
#home {
    background-color: var(--bg-primary);
    height: 100vh;
}
#home .navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#home .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}
/* classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0rem 2rem;
}
.text-secondry{
    color: var(--secondary-color);
    font-weight: 700;
}
.btn-primary{
    background-color: var(--secondary-color);
    color: #a49e97;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background-color: #1c4e4f;
}
#home #logo {
    color: var(--primay-color);
    font-size: 24px;
    font-weight: 600;
}
#home .navbar nav ul{
    display: flex;
    justify-content: center;
     align-items: center;

}
#home .navbar nav ul a {
    margin: 0 15px;
    color: var(--primay-color);
    font-weight: 600;
}
#home .header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding: 5rem 2rem 0;
    max-width: 1100px;
    margin: auto;
    height: 100vh;
}
#home .header-content .content-text{
    margin-bottom: 15px;
}
#home .header-content p span{
    font-size: 20px;
    font-weight: 700;
}
#home .header-content h1{
    color: var(--primay-color);
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
}
#home .header-content .title{
    color: #00202e;
    font-size: 20px;
    font-weight: 500;
}
#home .header-content .social{
    margin: 1rem 0 2rem;
}
#home .header-content .social a i{
    font-size: 20px;
    background-color: #004343;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.5s ease;
}
#home .header-content .social a i:hover{
    transform: scale(0.85);
}
#home .header-content img{
    max-width: 450px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #004343;
}
/* header end */
/* About start */
#about,
#skills,
#services,
#portfolio{
    padding: 6rem 0;
}
#about h2, #skills h2, #services h2, #portfolio h2, #contact h2{
    text-align: center;
    font-size: 38px;
    color: var(--primay-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr, #skills hr, #services hr, #portfolio hr{
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#about .section-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .section-content .col-1 h3{
    font-size: 24px;
    color: var(--primay-color);
    margin-bottom: 20px;
}
#about .section-content .col-1 p{
    color: #5e606c;
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .section-content .col-2 p{
    color: #5e606c;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
/* About end */
/* Skills start */
#skills, #portfolio{
    background-color: #6a8e8f;
}
#skills h2, #portfolio h2{
    color: #ffffff;
}
#skills .skills-content{
    margin-top: 2rem;
    background-color: #1c4e4f;
}
#skills .skills-content .row{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content .row .item{
    color: #fff;
    background-color: #0a2d2e;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
#skills .skills-content .row .item:hover{
    box-shadow: #00202e;
}
#skills .skills-content .row .item:nth-child(4) img{
    max-width: 70px;
}
#skills .skills-content .row .item:nth-child(1) img{
    max-width: 30px;
}
#skills .skills-content .row .item:nth-child(5) img{
    border-radius: 50%;
}
#skills .skills-content .row .item:nth-child(6) img{
    border-radius: 50%;
}
#skills .skills-content .row .item:nth-child(7) img{
    border-radius: 50%;
}
#skills .row img{
    max-width: 40px;
}
/* Skills end */
/* services start */
#services, #contact{
    background-color:#f9f6f2;
}
#services .heading{
    display: grid;
    justify-content: center;
    align-items: center;
}
#services .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
}
#services .row .item{
background-color: #fff;
padding: 30px 15px;
box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
transition: all 0.3s ease;
}
#services .row .item:hover{
    transform: scale(1.04);
}
#services .row .item img{
    width: 150px;
}
#services .row .item h3{
    color: #00202e;
    margin: 15px 0;
}
#services .row .item p{
    font-size: 14px;
}
/* services end */
/* portfolio start */
#portfolio .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
#portfolio .row .item{
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.4s ease;
}
#portfolio .row .item:hover{
    transform: scale(1.03);
}
#portfolio .row .item .item-content{
    padding: 20px 15px 30px;
}
#portfolio .row .item .item-content h3{
    font-size: 20px;
    color: var(--primay-color);
    margin-bottom: 10px;
}
#portfolio .row .item .item-content a{
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}
#portfolio .row .item img{
    max-width: 100%;
    border-bottom: 2px #ccc solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* portfolio end */
/* contact start */
#contact{
    padding: 4rem 0;
}
#contact .row{
    margin-top: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    background-color: #ccc;
    box-shadow: 3px 3px 20px rgb(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
}
#contact .row input, #contact .row textarea{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color:#d6eadf;
    border: 1px solid #d6eadf;;
    outline: none;
}
#contact .row img{
   max-width: 85%;
}
/* contact end */
/* Footer start */
#footer{
    background-color:var(--primay-color);
    color: #ccc;
    text-align: center;
    padding: 1rem 0;
}
/* Footer end */
/* tablet responsive */
@media (max-width:768px) {
    #home .navbar nav{
        display: block;
        text-align: center;
    }
    #home .navbar nav ul{
        margin-top: 20px;
    }
    #home .navbar nav ul a{
        margin: 0 8px;
    }
    #home .header-content{
        grid-template-columns: 1fr;
    }
    #home .header-content .content-text{
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    #home .header-content img{
        max-width: 450px;
        margin: auto;
    }
    #home .header-content h1{
        font-size: 50px;
    }
    #about .section-content,
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #skills .skills-content .row,
    #portfolio .row {
        grid-template-columns: repeat(2, 1fr);
    }
    #services .row{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }
    #contact .row img{
        max-width: 300px;
        margin: auto;
    }
}
/* Mobile responsive */
@media (max-width: 528px) {
    #home .header-content h1{
        font-size: 35px;
      }
    #home .header-content p span,
    #home .header-content .title{
        font-size: 16px;
      }
    #home .navbar nav{
        display: block;
        text-align: center;
    }
    #home .navbar nav ul{
        margin-top: 20px;
        font-size: 9PX;
    }
    #home .navbar nav ul a{
        margin: 0 8px;
    }
    #home .header-content{
        grid-template-columns: 1fr;
    }
    #home .header-content .content-text{
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    #home .header-content img{
        max-width: 300px;
        margin: auto;}
    #home .header-content h1{
        font-size: 30px;
    }
    #about .section-content,
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #skills .skills-content .row,
    #portfolio .row {
        grid-template-columns: 1FR;
    }
    #services .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #contact .row img{
        max-width: 150px;
        margin-right: 20PX;
    }
    #contact .row{
        padding: 2rem 1rem;
    }
    #about h2,
    #skills h2,
    #services h2,
    #portfolio h2,
    #contact h2{
        font-size: 30PX;
    }
    #about .section-content .col-1 h3{
        font-size: 20PX;
    }
}